
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.outlet-wrapper {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}

.filler-div {
  display: none;
}

/* login page */

.login-background {
  text-align: center;
  margin-top: 12rem;
}

.app-title {
  font-family: 'League Spartan', sans-serif;
  color: rgb(37, 175, 255);
  font-size: 3rem;
}

.login-form {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  justify-content: center;
  margin: 0 auto
}

.email-input, .pass-input {
  color: grey;
  font-size: 16px;
  letter-spacing: 2px;
}

.logininput-container {
  width: 80%;
}

.login-item {
  border: none;
  background: rgb(235, 235, 235);
  text-align: center;
  font-size: 1rem;
  padding: .75rem 0;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
}

.login-btn {
  margin-top: 1rem;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 6px;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background: rgb(37, 175, 255);
  color: white;
}

/* header component */

.site-header {
  display: flex;
  align-items: center;
  justify-content:left;
  padding: 0 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px .5px 5px 1px rgb(187, 187, 187);
  margin-bottom: 2rem;
  position: relative;
}

.back-btn:hover, .logout-btn:hover, .nav-item:hover {
  color: rgb(24, 127, 187);
}

.header-team {
  font-family: 'League Spartan', sans-serif;
  color: rgb(37, 175, 255);
  font-size: 1.75rem;
  margin: 30px 0;
  transition: all 0.3s ease-in-out;
}

.fa-user {
  color: rgb(37, 175, 255);
  padding: 7px;
  text-align: center;
  border: 3px solid rgb(37, 175, 255);
  border-radius: 50%;
  font-size: 1.3rem;
  margin-left: auto;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  background: rgb(101, 101, 101);
  position: absolute;
  text-align: right;
  width: 65%;
  max-width: 300px;
  top: 5.4rem;
  right: 0;
  padding: 0;
  z-index: 2;
  overflow-y: hidden;
  transition: .2s all ease;
}

.nav-item {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  width: 80%;
  margin: 0 15px 0 auto;
  text-decoration: none;
  transition: .2s all ease-in-out;
  color: white;
  padding: 1rem 0;
}

.logout-btn {
  color: rgb(179, 179, 179);
  margin-left: auto;
  padding: 1rem 0;
  margin-right: 15px;
  border: none;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

/* modal component */

.modal {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  margin: 1rem auto;
}

.modal-header {
  display: flex;
  margin-bottom: 0;
}

.notification-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.bell {
  width: 50px;
  height: 40px;
}

.round-slider-container {
  width: 61.5px;
  height: 30px;
  background: rgb(138, 138, 138);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: white;
  padding: 0 2px;
  bottom: 10px;
  user-select: none;
  box-shadow: inset 0 0 8px 3px rgb(83, 83, 83);
}

.round-slider {
  width: 27px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  top: 2px;
  left: 2px;
  position: absolute;
  transition: .2s ease-in-out;
}

#checkbox-input {
  visibility: hidden;
}

#checkbox-input:checked + .round-slider-container .round-slider {
  transform: translateX(30px);
}

#checkbox-input:checked + .round-slider-container {
  background: rgb(24, 127, 187);
  box-shadow: inset 0 0 8px 3px rgb(20, 84, 121);
}

/* portals to other components styles */

.dash-section {
  border-bottom: 1px solid rgb(226, 226, 226);
  margin: 1rem;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

.folders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
}

.folder-container {
  position: relative;
}

.fa-folder {
  color: rgb(37, 175, 255);
  font-size: 150px;
  position: relative;
}

.new-link-portal {
  border-bottom: 2px solid lightgray;
}

.new-link-text {
  color: black;
  margin: 0;
  width: 80%;
}

.section-description {
  color: black;
  margin: 0;
}

.link-portal {
  display: flex;
  text-align: center;
  align-items: center;
}

.link-text {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
}

/* dashboard page styles */

.notes-page-container {
  font-family: "Montserrat", sans-serif;
  padding: 0 1rem;
}

.add-new-note {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 2rem auto;
  gap: 10px;
}

.top-input-div, .middle-input-div {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

input {
  width: 50%;
}

input, textarea {
  border: none;
  background: rgb(239, 239, 239);
  padding: 8px;
  resize: none;
  border-radius: 4px;
}

.submit-btn, .modal-submit, .add-new-client {
  border: none;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  background: rgb(37, 175, 255);
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: .3s all ease-in-out;
}

.submit-btn:hover, .modal-submit:hover, .add-new-client:hover {
  background-color: rgb(24, 127, 187);
}

.update-modal {
  position: fixed;
  z-index: 2;
  top: 300px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  max-width: 600px;
  height: 400px;
  background: white;
  box-shadow: 0 0 10px 1px rgb(158, 158, 158);
  padding: 2rem;
}

.update-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.update-textarea {
  height: 400px;
}

.notes-page-title {
  margin: 3em 0 1.5em;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.note {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  background: rgb(236, 236, 236);
  padding: 1rem;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0;
  border-radius: 6px;
}

.note-title-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
  gap: 5px;
}

.note-title, .note-date {
  margin: 0;
}

.note-text {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.edit-delete-container {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.fa-trash {
  color: black
}

.fa-chevron-down {
  border: none;
}

/* coaching cards page */

.coaching-cards-page-container {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding: 0 1rem;
}

.add-new-client {
  margin-right: auto;
  width: 150px;
  cursor: pointer;
}

.add-client-modal {
  
  height: 500px;
  width: 100%;
  max-width: 800px;
  top: 10rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: .5rem 0;
  background: white;
}

.add-modal-submit {
  border: none;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  margin: 0;
  background: rgb(37, 175, 255);
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: .3s all ease-in-out;
}

.add-modal-submit:hover {
  background-color: rgb(24, 127, 187);
}

.coaching-cards-title-container {
  display: flex;
  align-items: center;
}

.fa-x {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: rgb(37, 175, 255);
  cursor: pointer;
}

.add-new-client-text {
  height: 300px;
}

.search-clients {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 2rem auto;
}

.search-title {
  text-align: left;
}

.search-bar {
  width: 100%;
  max-width: 800px;
}

.search-container {
  display: flex;
  justify-content: left;
  gap: 3px;
  width: 100%;
  height: 40px;
}

.search-btn {
  margin: 0;
  width: 30%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
  background: rgb(236, 236, 236);
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0;
  border-radius: 6px;
  gap: 10px;
}

.card-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.card-title-container {
  margin: 0 auto 0 0;
  
}

.card-edit-delete-container {
  display: flex;
  gap: 8px;
}

.card-title, .card-date {
  margin: 0;
}

.read-more-btn {
  text-align: center;
  width: 150px;
  height: 50px;
  text-decoration: none;
  padding: 5px;
  margin: 0 0 0 auto;
  border: none;
  background: rgb(37, 175, 255);
  color: white;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.delete-modal {
  background: white;
  position: fixed;
  right: 0;
  left: 0;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px 5px rgb(216, 216, 216);
  text-align: center;
}

/* schedule page styles */
.shift-schedule-page {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 0 0;
}

.upload-div {
  display: flex;
}

.file-input {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 0 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.upload-btn {
  width: 50%;
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
}

.link-container {
  text-align: left;
  margin: 1rem auto 0 0;
}

.schedule-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(24, 127, 187);
  text-decoration: underline;
  padding-right: .5rem;
}

.schedule-link:visited {
  color: rgb(24, 127, 187);
}

/* home button styles */
.home-btn-container {
  margin: 0 auto 1rem auto;
}

.home-btn {
  background: rgb(37, 175, 255);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.back-btn {
  width: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  margin: 0 0 20px;
  text-align: center;
  color: rgb(37, 175, 255);
  transition: all 0.3s ease-in-out;
}

.back-btn-text {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.back-btn:visited, .back-btn-text:visited {
  color:rgb(37, 175, 255)
}

.back-btn:hover, .back-btn-text:hover {
  color: rgb(24, 127, 187);
}

.fa-arrow-left {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 800px) {

  .site-header {
    position: fixed;
    width: 100vw;
    z-index: 2;
  }

  .outlet-wrapper {
    display: flex;
    justify-content: center;
  }

  .filler-div {
    display: block;
    width: 27%;
    max-width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .side-nav-container {
    display: flex;
    flex-direction: column;
    background: rgb(101, 101, 101);
    position: fixed;
    text-align: left;
    width: 27%;
    max-width: 300px;
    height: 100%;
    top: 5.4rem;
    left: 0;
    padding: 1rem 0 0;
    z-index: 2;
    gap: 20px;
    overflow-y: hidden;
    transition: .2s all ease;
  }

  .fa-user {
    margin: 0 auto 0 1rem;
  }

  .side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .dashboard-side-link {
    border-top: 2px solid rgb(138, 138, 138);
  }
  .nav-item {
    margin: 0;
    padding: 2rem 1rem;
    width: 100%;
    border-bottom: 2px solid rgb(138, 138, 138);
  }

  .logout-btn {
    margin: 0 auto 0 0;
    padding: 2rem 1rem;
  }

  .dashboard,
  .coaching-cards-page-container,
  .notes-page-container,
  .folders-container,
  .timesheet-page {
    margin: 8rem auto;
    width: 70%;

  }

  .fa-folder {
    font-size: 200px;
  }

  .add-new-note, .search-clients {
    width: 100%;
    max-width: 800px;
  }

  .search-clients {
    margin: 2rem auto 2rem 0;
  }

  .note-text {
    height: 150px;
  }
}