/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* login page */

.login-background {
  text-align: center;
  margin-top: 12rem;
}

.app-title {
  font-family: 'League Spartan', sans-serif;
  color: rgb(37, 175, 255);
  font-size: 3rem;
}

.login-form {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  justify-content: center;
  margin: 0 auto
}

.email-input, .pass-input {
  color: grey;
  font-size: 16px;
  letter-spacing: 2px;
}

.logininput-container {
  width: 80%;
}

.login-item {
  border: none;
  background: rgb(235, 235, 235);
  text-align: center;
  font-size: 1rem;
  padding: .75rem 0;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
}

.login-btn {
  margin-top: 1rem;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 6px;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background: rgb(37, 175, 255);
  color: white;
}

/* .create-acct-link {
  color:rgb(37, 175, 255);
  text-decoration: underline;
  font-size: 1.25rem;
}

.create-acct-link:visited {
  color: rgb(37, 175, 255);
} */

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header component */

.site-header {
  display: flex;
  align-items: center;
  justify-content:left;
  padding: 0 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px .5px 5px 1px rgb(187, 187, 187);
  margin-bottom: 2rem;
  position: relative;
}

.back-btn:hover, .logout-btn:hover, .nav-item:hover {
  color: rgb(24, 127, 187);
}

.header-team {
  font-family: 'League Spartan', sans-serif;
  color: rgb(37, 175, 255);
  font-size: 1.75rem;
  margin: 30px 0;
  transition: all 0.3s ease-in-out;
}

.fa-user {
  color: rgb(37, 175, 255);
  padding: 7px;
  text-align: center;
  border: 3px solid rgb(37, 175, 255);
  border-radius: 50%;
  font-size: 1.3rem;
  margin-left: auto;
}

.side-nav {
  display: flex;
  flex-direction: column;
  background: rgb(101, 101, 101);
  position: absolute;
  text-align: right;
  width: 65%;
  height: 420px;
  top: 5.4rem;
  right: 0;
  padding: 15px 0 15px 0;
  z-index: 2;
  gap: 20px;
  overflow-y: hidden;
  transition: .2s all ease;
}

.nav-item {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  width: 80%;
  margin: 0 15px 0 auto;
  text-decoration: none;
  transition: .2s all ease-in-out;
  color: white;
}

.logout-btn {
  color: rgb(179, 179, 179);
  margin-left: auto;
  padding: 0;
  margin-right: 15px;
  border: none;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

/* modal component */

.modal {
  font-family: "Montserrat", sans-serif;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 20px 2px rgb(158, 158, 158);
  position: absolute;
  z-index: 2;
  text-align: center;
}

.modal>h3 {
  
}

.bell {
  width: 100px;
  height: 90px;
}

.round-slider-container {
  width: 62px;
  height: 30px;
  background: rgb(24, 127, 187);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: white;
  padding: 0 2px;
  user-select: none;
  box-shadow: inset 0 0 8px 3px rgb(20, 84, 121);
}

.round-slider {
  width: 27px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  top: 2px;
  left: 2px;
  position: absolute;
  transition: .2s ease-in-out;
}

#checkbox-input {
  visibility: hidden;
}

#checkbox-input:checked + .round-slider-container .round-slider {
  transform: translateX(30px);
}

/* portals to other components styles */

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
}

.folder-container {
  position: relative;
}

.fa-folder {
  color: rgb(37, 175, 255);
  font-size: 150px;
  position: relative;
}

.link-portal {
  display: flex;
  text-align: center;
  align-items: center;
}

.link-text {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
}

/* client notes page styles */

.notes-page-container {
  font-family: "Montserrat", sans-serif;
}

.add-new-note {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 2rem auto;
  gap: 10px;
}

.top-input-div {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;

}

input {
  width: 50%;
}

input, textarea {
  border: none;
  background: rgb(239, 239, 239);
  padding: 8px;
  resize: none;
  border-radius: 4px;
}

.submit-btn, .modal-submit, .add-new-client {
  border: none;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  background: rgb(37, 175, 255);
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: .3s all ease-in-out;
}

.submit-btn:hover, .modal-submit:hover, .add-new-client:hover {
  background-color: rgb(24, 127, 187);
}

.notes-page-title {
  margin: 0 10px 30px 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.note {
  display: flex;
  flex-direction: column;
  background: rgb(236, 236, 236);
  padding: .5rem;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
}

.note-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.note-title {
  margin-right: 10px;
}

.note-text {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.edit-delete-container {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.fa-trash {
  color: black
}

.read-more-btn {
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin: 0 auto;
}

/* coaching cards page */

.coaching-cards-page-container {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.add-new-client {
  margin-left: 1rem;
  width: 150px;
  cursor: pointer;
}

.add-client-modal {
  position: fixed;
  height: 500px;
  width: 80%;
  max-width: 800px;
  top: 10rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid rgb(203, 203, 203);
  padding: .5rem 1rem;
  box-shadow: 0 0 15px 1px rgb(203, 203, 203);
  background: white;
}

.coaching-cards-title-container {
  display: flex;
  align-items: center;
}

.fa-x {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: rgb(37, 175, 255);
  cursor: pointer;
}

.add-new-client-text {
  height: 300px;
}

.search-clients {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 2rem auto;
}

.search-title {
  text-align: left;
}

.search-bar {
  width: 100%;
  max-width: 800px;
}

.search-container {
  display: flex;
  justify-content: left;
  gap: 3px;
  width: 100%;
  height: 40px;
}

.search-btn {
  margin: 0;
  width: 30%;
}

/* schedule page styles */
.shift-schedule-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-input {
}

.upload-btn {}

.link-container {}

.schedule-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(24, 127, 187);
  text-decoration: underline;
}

.schedule-link:visited {
  color: rgb(24, 127, 187);
}

/* home button styles */
.home-btn-container {
  margin: 0 auto 1rem auto;
}

.home-btn {
  background: rgb(37, 175, 255);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.back-btn {
  width: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  margin: 0 10px 20px;
  text-align: center;
  color: rgb(37, 175, 255);
  transition: all 0.3s ease-in-out;
}

.back-btn-text {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.back-btn:visited, .back-btn-text:visited {
  color:rgb(37, 175, 255)
}

.back-btn:hover, .back-btn-text:hover {
  color: rgb(24, 127, 187);
}

.fa-arrow-left {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}